:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: white;
    height: 100%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: solid 2px var(--color1);
}

a {
    text-decoration: none;
    color: purple;
}

#bike-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 50px;
}

.bike-card {
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 1px black;
    width: 200px;
    height: 300px;
}
.bike-card p {
    text-align: center;
}

.bike-card:hover {
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: solid 1px black;
    width: 200px;
    height: 300px;
    background-color: rgb(91, 86, 77);
    cursor: pointer;
    transform: scale(1.1);
    rotate: 5deg;
}

.bike-card img {
    width: 90%;
    border-radius: 10px;
}

.bike-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
}

.bike-detail .make-and-model {
    display: flex;
    font-size: 1.75rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bike-detail .use-and-color {
    font-size: 1.5rem;
    color: gray;
}

.bike-detail img {
    width: 90%;
    margin: 20px;
}
